.bucketlist-create-modal-wrapper{
    width : 100%;
    height : 100%;
    position : fixed;
    top : 0;
    left : 0;
    display: flex;
    justify-content : center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    z-index : 10;
    .bucketlist-create-modal-inner{
        width : 800px;
        height :700px;
        position : relative;
        background-color : #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        display : flex;
        flex-direction: column;
        padding-left : 30px;
        #bucketlist-create-modal-title{
            margin-top : 30px;
            font-size : 20px;
            font-weight : bold;
            
        }
        #bucketlist-title{
            margin-top : 20px;
            #bucketlist-title-text{
                font-weight : bold;
            }
        }
        #bucketlist-title-input{
            margin-top : 5px;
            width : 300px;
            font-size : 12px;
            letter-spacing: 1px;
            padding-left : 3px;
            border : 2px solid rgb(201,215,240);
        }
        #bucketlist-comment{
            margin-top : 20px;
            #bucketlist-comment-text{
                font-weight : bold;
            }
        }
        #bucketlist-comment-textarea{
            margin-top : 5px;
            border : 2px solid rgb(201,215,240);
            resize : none;
            font-size : 12px;
        }
        .close-icon{
            position : absolute;
            
            right : 30px;
            top : 30px;
            &:hover{
                cursor : pointer;
            }
        }
        #bucketlist-radio-wrapper{
            display : flex;
            gap : 15px;
            margin-top : 5px;
            width : 250px;
        }
        #bucketlist-rights-wrapper{
            display : flex;
            gap : 15px;
            margin-top : 5px;
            .radio-input-btn{
                margin-left : 3px;
            }
        }
        #bucketlist-types-wrapper{
            display : flex;
            gap : 20px;
            margin-top : 5px;
            margin-bottom : 20px;
            .radio-input-btn{
                margin-left : 3px;
            }
        }

        #bucketlist-create-type-indicator {
            margin-top : 20px;
            font-weight : bold;
        }
        #bucketlist-create-modal-field{
            margin-top : 20px;
            font-weight : bold;
        }
        #bucketlist-public-type-indicator {
            margin-top : 20px;
            font-weight : bold;
        }

        #bucketlist-field-select{
            width : 100px;
        }
        #bucketlist-create-submit-btn{
            border-radius : 5px;
            margin-top : 20px;
            width : 120px;
            height : 40px;
            background-color : rgb(201,215,240);
            display : flex;
            justify-content : center;
            align-items: center;
        }
    }
}