.book-wrapper{
    width : 100%;
    display : flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
    // .book-search-section{
    //     width : 100%;
    //     height: 20vh;
    //     background : linear-gradient(90deg, #E0EAFC, #CFDEF3); 
    //     display : flex;
    //     flex-direction : column;
    //     justify-content : center;
    //     align-items : center;
    // }
    
}