.schedule-detail-modal-outer-wrapper{
    width : 100vw;
    height : 100vh;
    position : absolute;
    position : fixed;
    top : 0;
    left : 0;
    display : flex;
    justify-content : center;
    align-items : center;
    z-index : 10;
    background-color : rgba(0,0,0,0.2);
    .schedule-detail-modal-inner-wrapper{
        width : 700px;
        height : 600px;
        background-color : #fff;
        border-radius : 30px;
        box-shadow : rgba(0, 0, 0, 0.08) 0px 4px 12px;
        position : fixed;
        display : flex;
        flex-direction : column;
        align-items : center;
        overflow-y : auto;      
    }
}

