$width : 140px;
$dateHeight : 120px;
$dayHeight : 25px;

.month-indicator{
    display : flex;
    .date-indicator{
        width : 150px;
        height : 40px;
        border : 1px solid white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        background-color : #fff;
        border-radius : 20px;
        display : flex;
        justify-content : center;
        align-items : center;
        position : relative;
        right : 55px;    
        top : 30px;
        .month-text-span{
            font-size : 20px;
            color : rgb(136,151,168);
        }
    }
    .month-nav-container{
        width : 60px;
        height : 30px;
        border : 1px solid white;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        background-color : #fff;
        border-radius : 20px;
        display : flex;
        justify-content : center;
        align-items : center;
        position : relative;
        top : 35px;
        left : 55px;
        color : rgb(136,151,168);
        margin-left : 1px;
        &:hover{
            cursor : pointer;
            transition : 0.5s ease-in-out;
            background-color : rgb(136,151,168) !important;
            color : #fff !important ;
        }
        .month-nav{
            font-size :14px;
            
        }
    }
}


.calendar-container{      
    display : flex;
    justify-content : center;
    align-items : center;
    
    // padding-top : 100px;
    // background-color : rgb(246,246,246);
    .calendar-wrapper{        
        width : 1100px;
        max-width : 1100px;
        border : 1px solid white;
        border-radius : 30px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        background-color : rgb(246,246,246);
        display : flex;
        flex-wrap : wrap;
        flex-grow : 1;
        justify-content : center;
        align-items : center;    
        margin : 0 auto; 
        padding-top : 50px;
        margin-top : 10px;
        padding-bottom : 50px;
        margin-bottom : 10%;
        .create-icon-wrapper{
            width : 100%;
            display : flex;
            justify-content : flex-end;
            padding-bottom : 10px;
            // align-items : center;
            .create-icon{
                width : 30px;
                height : 30px;
                position : relative;
                right : 55px;
                // material-ui icon small 5px padding default;
                fill : rgb(136,151,167);
                transition : 0.5s ease-in-out;
                &:hover{
                    fill : rgb(13,15,69);
                    cursor : pointer;
                }
            }
        }
        .prev{
            .date-text{
                opacity : 0.3;
            }
        }
        .post{
            .date-text{
                opacity : 0.15;
            }
        }
        .day{
            background-color : rgb(136,151,168);
            color : #fff;
            width : $width;
            height : $dayHeight;
            border-top : 1px solid #A7AAAA;
            border-right : 1px solid #A7AAAA;
            display : flex;
            justify-content: center;
            align-items: center;
            font-size : 13px;
        }
        .day:nth-child(7n+1){
            border-left : 1px solid #A7AAAA;
        }
        .date{
            width : $width;
            height : $dateHeight;
            padding : auto;
            border-top : 1px solid #A7AAAA;
            border-right : 1px solid #A7AAAA;
            background-color : #fff;
            &:hover{
                cursor : pointer;
                background-color : rgb(242, 242, 242);
            }
            .date-text{
                margin-left : 5px;
                padding-top : 10px;
                font-size : 13px;
                
            }
            .schedule{
                font-size : 12px;
                padding-left : 5px;
                color : #448b69;
                font-weight : bold;
                pointer-events: none;
            }
        }
        .date:nth-child(7n+2){
            border-left : 1px solid #A7AAAA;
            .date-text{
                color : #f1617d;
            }
        }
        .date:nth-child(7n+1){
            .date-text{
                color : #8997A8;
            }
        }
        .date:nth-last-child(-n+7){
            border-bottom : 1px solid #A7AAAA;
        }
    }
    
    .arrow {
        font-size : 50px;
        margin : 0 20px;
        position : relative;
        fill : #8897a8;
        // bottom : 180px;
        &:hover{
            cursor : pointer;
            fill : orange;
        }
    }
    
}
