.diary-wrapper{
    // margin-top : 20px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    background-color : #eff0f4;
    .diary-span{
        display : flex;
        width : 690px;
        
        margin-bottom : 10px;
        font-size : 18px;
        font-weight : 600;
        color : #272e56;
    }
}