.file-button-wrapper{
    .upload-name{
        display: inline-block;
        height: 40px;
        padding: 0 10px;
        vertical-align: middle;
        border: 1px solid #dddddd;
        width: 200px;
        color: #999999;
    }
    
    label{
        display: inline-block;
        padding: 10px 20px;
        color: black;
        vertical-align: middle;
        background-color: rgb(201,215,240);
        cursor: pointer;
        height: 40px;
        margin-left: 0px;
    }
    #upload-file {  /* 파일 필드 숨기기 */
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }
      
}