.auth-button{
    width : 80px;
    height : 30px;
    background-color : black;
    border-radius : 15px;
    display : flex;
    justify-content : center;
    align-items : center;
    color : white; 
    &:hover {
        cursor : pointer;
    }
}