.emoji-modal-wrapper{
    width : 280px;
    padding : 10px;
    height : 220px;
    background-color : rgb(249,249,249);
    display : flex;
    flex-wrap : wrap;
    overflow-y : auto;
    position : absolute;
    gap : 5px;
    top : 60px;
    right: 0px;
    z-index : 100;
    .my-emojis-select{
        color : rgba(36,36,36, 0.3);
        font-size : 12px;
    }
    .my-emojis-text{
        width : 100%;
        color : black;
        font-weight : bold;
        font-size : 14px;
        
    }
    .my-emojis{
        display : flex;
        flex-wrap : wrap;
        width : 100%;
        gap : 5px;
        border-bottom : 1px solid #bbb;
        .my-emoji{
            font-size : 20px;
        }
    }
    .emoji{
        font-size : 20px;
        &:hover{
            opacity : 0.6;
        }
        // width : 30px;
    }
    .whole-emojis{
        display : flex;
        flex-wrap : wrap;
        gap : 5px;
    }
}
#emoji-success-alert{
    position : absolute;
    z-index : 20;
    width : 280px;
    top : 280px;
    right : 0;
}