.emoji-modal-wrapper{
    width : 250px;
    height : 200px;
    background-color : rgb(242, 242, 242);
    display : flex;
    flex-wrap : wrap;
    overflow-y : auto;
    position : absolute;
    gap : 5px;
    top : 60px;
    right: 0px;
    z-index : 100;
    .my-emojis{
        color : black;
    }
    .emoji{
        font-size : 20px;
        // width : 30px;
    }
    .whole-emojis{
        display : flex;
        flex-wrap : wrap;
    }
}