.book-dropdown-wrapper{
    width : 450px;
    height : 600px;
    background-color : blue;   
    display : flex;
    flex-direction : column;
    margin-left : 25px;
    position : relative;
    top : -30px;
    
}