.travel-story-list-wrapper{
    width : 100%;
    margin-top : 20px;
    height : 400px;
    
    // background-color : black;
    #travel-cards-title{
        font-size : 20px;
        font-weight : bold;
        letter-spacing : 2px;
        color : black;
        padding-left : 6px;
        margin-bottom : 20px;
    }
}