.asset-index-section-wrapper{
    position : relative;
    width : 120%;
     
    height : 310px;
    display : flex;
    padding-left : 50px;
    align-items: center;
    gap : 50px;
    margin : 0 auto;
    background-color : #fff;
    overflow : hidden;
    animation-name : flow;
    animation-duration: 8s;
    
    animation-iteration-count: infinite;
    
    .asset-index-box{
        display : flex;
        flex-direction : column;
        .index-text{
            font-weight : bold;
            letter-spacing: 1.5px;
        }
        .index-box{
            width : 270px;
            height : 200px;
            background-color : black;
            margin-top : 10px;
        }
    }
}
@keyframes flow {
    0% {
        transform : translateX(0);
    }

    50% {
        transform : translateX(-13%);
    }
    100% {
        transform : translateX(0%);
    }
}