// @import url("../../../assets/books.jpeg")
.book-search-bar-wrapper{
    // width : 100%;
    // height: 200px;
    // background : linear-gradient(90deg, #E0EAFC, #CFDEF3); 
    // display : flex;
    // flex-direction : column;
    // justify-content : center;
    // align-items : center;
    z-index : 3;
    height : 0px;
    .paper{
        position : relative;
        bottom : 30px;
        border : 4px solid rgb(190,170,148);
        border : 4px solid rgba(246,151,54, 0.5);
    }
    .suggestion-dropdowns{
        position : relative;
        // top : 274px;
        display : flex;
        flex-direction : column;
        background-color : white;
        width : 300px;
        z-index : 2;
        .book-suggestion{
            display : flex;
            align-items : center;
            height : 50px;
        }
    }
}

// .book-search-bar-wrapper{
//     background-image : url("../../../assets/books.jpeg");
//     opacity : 0.;
// }