.book-detail-wrapper{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    #empty-result-book{
        position : relative;
        top : 100px;
        font-weight : bold;
    }
    .paper{
        margin-top : 50px;
    }
    .book-detail-page-explanation{
        display : flex;
        height : 80px;
        margin-top : 100px;
        justify-content: center;
        align-items: center;
        font-size : 18px;
        font-weight : 900;
    }
    .alert-msg{
        margin-bottom : 20px;
    }
    .book-detail-contents-container{
        width : 80%;
        margin : 0 auto;
        display : flex;
        position : relative;
        #book-detail-thumbnail{
            width : 20%;
            max-width : 20%;
        }
        #book-detail-contents{
            display : flex;
            flex-direction: column;
            background-color : beige;
            background-color : rgb(240,243,244);
            width : 80%;
            gap : 10px;
            padding-top : 20px;
            padding-left : 3%;
            letter-spacing: 1px;
            
            .book-detail-content{
                width : 100%;
                display : flex;
                flex-wrap : nowrap;
                .book-detail-text{
                    font-weight : bold;
                    font-size : 18px;
                    margin-right : 20px;
                    width : 100px;
                }
                .book-detail-info{
                    width : 70%;
                    color : rgb(89,89,89);
                    display : flex; 
                    align-items: center;
                }
            }
        }
        #book-user-controller{
            display : flex;
            position : absolute;
            right : 50px;
            bottom : 20px;      
            gap : 15px;            
            .book-user-control-btn{
                border : none;
                outline : none;
                width : 120px;
                height : 40px;
                background-color : rgb(80,85,177);
                background-color : rgb(147,51,230);
                color : white;
                border-radius : 20px;
                transition : 0.3s ease-in-out;
                &:hover{
                    background-color : rgba(147,51,230, 0.8);
                    color : whitesmoke;
                }
                .menu-book-icon{
                    position : relative;
                    bottom : 2.5px;
                }
                .favorite-icon{
                    position : relative;
                    bottom : 2px;
                }
            }     
        }
    }
    .book-report-wrapper{
        width : 80%;
        margin : 0 auto;
        padding-bottom : 2000px;
        margin-top : 40px;
        
        display : flex;
        flex-direction : column;
        #book-report-title{
            font-size : 18px;
            font-weight: bold;
            width : 100%;
            display : flex; 
            justify-content: center;
            letter-spacing : 1px;
        }
        #book-report-username{
            position : relative;
            margin-top : 20px;
            left : 100%;
            font-size : 18px;
            font-weight : bold;
            transform : translateX(-30px);
        }
        #book-report-container{
            display : flex;
            flex-wrap : wrap;
            border : 1px solid rgb(30,30,30);
            margin-top : 40px;
            .book-report-header{
                width : 50%;
                height : 50px;
                border : 1px solid rgb(30,30,30);
                display : flex;
                .book-report-header-text{
                    display : flex;
                    justify-content: center;
                    align-items: center;
                    font-size : 16px;
                    font-weight : bold;
                    width : 25%;
                    border-right : 2px solid rgb(30,30,30);
                }
                .book-report-header-content{
                    width : 75%;
                    font-family: 'Gaegu', cursive;
                    display : flex;
                    
                    align-items: center;
                    padding-left : 20px;
                }
                #book-report-genre-input{
                    outline : none;
                    border : none;
                    &:focus{
                        outline : none;
                    }
                }
                #book-report-date-input{
                    width : 70%;
                    outline : none;
                    border : none;
                    
                    &:focus{
                        outline : none;
                    }
                }
                input::-webkit-calendar-picker-indicator {
                    cursor: pointer;
                    color : red;
                }
            }
        }
        .book-report-plot-wrapper{
            width : 100%;
            margin-top : 40px;
            .book-report-plot-text{
                font-size : 20px;
                font-weight : bold;
                margin-bottom : 20px;
            }
            #book-report-plot-textarea{
                outline : none;
                border : none;
                border : 2px solid black;
                width : 100%;
                height : 300px;
                resize : none;
                padding : 10px 0 0 10px;
                font-family : 'Gaegu', cursive;
            }
        }
        #rating-wrapper-text{
            margin-top : 20px;
        }
        .rating-heart{
            color : rgb(254,109,117);
        }
        #book-report-submit-btn{
            margin-top : 20px;
            width : 100px;
            height : 40px;
            outline : none;
            border : none;
            border-radius : 20px;
            background-color : rgb(147,51,230);
            color : whitesmoke;
            &:hover{
                background-color : rgb(147,51,230);
            }
        }
    }
}