.book-detail-wrapper{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    #empty-result-book{
        position : relative;
        top : 100px;
        font-weight : bold;
    }
    .paper{
        margin-top : 50px;
    }
    .book-detail-page-explanation{
        display : flex;
        height : 80px;
        margin-top : 100px;
        justify-content: center;
        align-items: center;
        font-size : 18px;
        font-weight : 900;
    }
    .book-detail-contents-container{
        width : 80%;
        margin : 0 auto;
        display : flex;
        position : relative;
        #book-detail-thumbnail{
            width : 20%;
            max-width : 20%;
        }
        #book-detail-contents{
            display : flex;
            flex-direction: column;
            background-color : beige;
            background-color : rgb(240,243,244);
            width : 80%;
            gap : 10px;
            padding-top : 20px;
            padding-left : 3%;
            letter-spacing: 1px;
            
            .book-detail-content{
                width : 100%;
                display : flex;
                flex-wrap : nowrap;
                .book-detail-text{
                    font-weight : bold;
                    font-size : 20px;
                    margin-right : 20px;
                    width : 100px;
                }
                .book-detail-info{
                    width : 70%;
                    color : rgb(89,89,89);
                    display : flex; 
                    align-items: center;
                }
            }
        }
        #book-user-controller{
            display : flex;
            position : absolute;
            right : 50px;
            bottom : 20px;      
            gap : 15px;            
            .book-user-control-btn{
                border : none;
                outline : none;
                width : 120px;
                height : 40px;
                background-color : rgb(80,85,177);
                background-color : rgb(147,51,230);
                color : white;
                border-radius : 20px;
                transition : 0.3s ease-in-out;
                &:hover{
                    background-color : rgba(147,51,230, 0.8);
                    color : whitesmoke;
                }
                .menu-book-icon{
                    position : relative;
                    bottom : 2.5px;
                }
                .favorite-icon{
                    position : relative;
                    bottom : 2px;
                }
            }     
        }
    }
}